= simple_form_for [category, product] do |f|
  - if product.errors.any?
    .alert.alert-danger
      #error_explanation
        %h4= "#{pluralize(product.errors.count, "error")} prohibited this product from being saved:"
        %ul
          - product.errors.full_messages.each do |msg|
            %li= msg

  .form-group
    = f.input :title, class: 'form-control'
  .form-group
    = f.input :description, class: 'form-control'
  .form-group
    = f.input :price, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-default'
