!!!
%html{ lang: 'en' }
  %head
    %title Netguru Rzeszów Workshops 2015
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand #{AppConfig.workshops_name}
        %p.navbar-text.navbar-right
          = render :file => "#{Rails.root}/app/views/devise/shared/_links.haml"
    .container-fluid
      .starter-template
        .row
          .col-lg-2
          .col-lg-8
            = render :file => "#{Rails.root}/app/views/layouts/_flash.haml"
            = yield
          .col-lg-2
